{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        <meta charset="{{ _charset }}" />
        {% block head_style %}
            {# Override this block to add your own files! #}
            {% stylesheets
            '@MopaBootstrapBundle/Resources/public/sass/mopabootstrapbundle.scss'
            %}
            <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen" />
            {% endstylesheets %}
            {# To use this without less use the base_css.html.twig template as your base
             # Be sure you understand whats going on: have a look into
             # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
             #}
            <link href="/assets/css/style.css" type="text/css" rel="stylesheet" media="screen" />
        {% endblock head_style %}



        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {% block head_script %}

            <script type="text/javascript" src="/js/jquery.min.js"></script>
            <script type="text/javascript" src="/js/jquery.mobile.custom.min.js"></script>
            '
        {% endblock head_script %}
        <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>
        <title>{% block title %}Gruppenportal Lipper Gruppe{% endblock title %}</title>
        {% block favicon %}<link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />{% endblock %}
        {% block head_bottom %}
        {% endblock head_bottom %}
    </head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}



{% block body_start %}
{% endblock body_start %}

{% block body %}
    {% block navbar %}
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand navbrand" href="/">Portal Lipper Gruppe</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ path('homepage') }}">Übersicht</a>
                    </li>
                    <li>
                        <a href="{{ path('event') }}">Veranstaltungen</a>
                    </li>
                    <li>
                        <a href="{{ path('poll') }}">Umfragen</a>
                    </li>
                    <li>
                        <a href="{{ path('birthday') }}">Geburtstage</a>
                    </li>
                    <li>
                        <a href="{{ path('photoalbum') }}">Fotos</a>
                    </li>
                    <li>
                        <a href="{{ path('info') }}">Infos</a>
                    </li>
                    {% if is_granted('ROLE_ADMIN') %}
                    <li>
                        <a href="{{ url('administration') }}">Administration</a>
                    </li>
                    {% endif %}
                    <li class="dropdown" data-dropdown="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"> <span class="glyphicon glyphicon-user"></span> {{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="{{ path('settings') }}">Einstellungen</a></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">abmelden</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    {% endblock navbar %}



{% block container %}
{% block container_div_start %}{% endblock container_div_start %}
    {% block header %}
    {% endblock header %}

{% block content_div_start %}<div class="content">{% endblock content_div_start %}
    {% block flashes %}
        {% if app.session.flashbag.peekAll|length > 0 %}

            <div class="row">
                <div class="col-sm-12">
                    {{ session_flash() }}
                </div>
            </div>
        {% endif %}
    {% endblock flashes %}

    {% block content_row %}

    {% endblock content_row %}

{% block content_div_end %}</div>{% endblock content_div_end %}


{% block container_div_end %}{% endblock container_div_end %}
{% endblock container %}

    {% block body_end_before_js %}
    {% endblock body_end_before_js %}
{% block foot_script %}
    {% javascripts
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap.min.js'
    '@MopaBootstrapBundle/Resources/public/bootstrap-sass/assets/javascripts/bootstrap-sprockets.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
        <script>
            $(document).ready(function() {
                $('.summernote').summernote();
            });
        </script>
{% endblock foot_script %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>